Device:  {{ inventory_hostname }}

Hostname:        {{ napalm_hostname }}
FQDN:            {{ napalm_fqdn }}
Model:           {{ napalm_model }}
OS Version:      {{ napalm_os_version }}
Serial Number:   {{ napalm_serial_number }}
Vendor:          {{ napalm_vendor }}
